//
//  mac.xcconfig
//  Xcon
//
//  Created by yarshure on 2017/12/14.
//  Copyright © 2017年 yarshure. All rights reserved.
//
//clang -weak_framework optional 动态加载，非启动的时候就load
OTHER_LDFLAGS = $(inherited)  -weak_framework Sodium  -weak_framework  KCP -framework SwiftyJSON -framework ObjectMapper  -framework  snappy  -framework XFoundation //-mbedcrypto//lcrypto // - //mbedcrypto
LIBRARY_SEARCH_PATHS = $(inherited) "$(PROJECT_DIR)/Carthage/Build/Mac/"
