github "networkextension/snappy-ios" "72c2b14842943a1f21eb2a76c06d76689fd7aa57"
github "yarshure/Sodium-framework" "master"
github "networkextension/libkcp" "swift_cpp"
github "yarshure/Xsocket.git" "Swift5"
github "yarshure/XFoundation.git" "master"
github "networkextension/DarwinCore" "master"
